@import "tailwindcss";

@layer base {
  body {
    background-color: #0a0724;
    font-family: 'Montserrat', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
